body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input[type="text"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.confirmation {
    color: green;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

#loading {
    display: none;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.section {
    margin-top: 20px;
}

#previewSection {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
}

#previewSection p {
    color: #555;
}
#identityChecker {
    margin-top: 20px;
}